@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

.open-sans-normal {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
}

/*header styles*/
.header {
  background-image: url(./Assets/Hero-bg.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
nav ul {
  display: flex;
  justify-content: space-between;
}
nav ul li {
  list-style: none;
  margin: 40px 40px;
}
nav ul li a {
  text-decoration: none;
}
nav ul li a .logo {
  font-size: 25px;
  font-weight: 900;
}
nav ul li a button {
  background-color: #4e47ff;
  color: #fff;
  border: none;
  font-size: 15px;
  border-radius: 10px;
  padding: 15px 30px;
}
/*shared styles*/
.text-primary {
  color: #4e47ff;
}
.btn-primary {
  background-color: #4e47ff;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 15px 30px;
}
.text-color {
  color: #252432;
}

/*banner styles*/
.banner-title {
  font-size: 50px;
  font-weight: bold;
}
.banner-design {
  text-align: center;
  padding: 150px 250px;
}
.focus {
  padding: 15px 30px;
  margin: 20px;
}
/*action sction styles*/
.action {
  display: flex;
  justify-content: space-around;
  padding: 60px;
  background-color: lightcyan;
}
.h3-action {
  font-size: 35px;
  font-weight: bold;
}
.p-text-color {
  color: rgba(37, 36, 50, 0.5);
  padding-left: 15px;
  font-size: 20px;
}
/*.left-action {
  padding: 60px;
}*/
.action-pic {
  height: 320px;
  width: 480px;
  border-radius: 15px;
}
/*productive users styles*/
.user-satisfaction {
  display: flex;
  justify-content: space-around;
}
.users {
  background-color: #fff;
  margin: 30px;
  padding: 40px 70px;
}
.user-info {
  background-color: lightsteelblue;
  border-radius: 50px;
}
.user-info-h2 {
  padding: 30px 0px 0px 0px;
  text-align: center;
  margin: 0 auto;
  font-size: 30px;
}
.user-h1 {
  font-size: 70px;
}
.active-users,
.focus-sessions,
.satisfaction-rate {
  margin: 0 auto;
  padding: 0;
}

/*review section styles*/
.review {
  padding: 40px;
}
.review-h1 {
  font-size: 35px;
  text-align: center;
}
.review-cards {
  display: flex;
  justify-content: space-around;
}
.card {
  border: 1px solid #f2eded;
  border-radius: 15px;
  padding: 10px;
  box-shadow: 3px 3px #f2eded;
}
.stars i {
  color: rgb(255, 204, 0);
}
.avatar img {
  padding-top: 10px;
  border-radius: 20px;
  padding-left: 10px;
}
.avatar-block {
  background-color: white;
  display: flex;
  justify-content: flex-start;
}
.avatar-info {
  margin: 0;
  padding-left: 15px;
}
.avatar-info input[type='text'] {
  border: none;
  margin: 0;
}

/*focus section styles*/
.ready-to-focus {
  padding: 80px;
}
.focus-h1 {
  font-size: 40px;
}
.focus-items {
  text-align: center;
}
.focus-img {
  padding-top: 25px;
}
.focus-img1 {
  border-radius: 60px;
}

/*contact syles*/
.messaging {
  padding: 80px;
  background-color: lightcyan;
}
.connection {
  display: flex;
  justify-content: space-around;
}
.form {
  width: 50%;
}
.connect-h1 {
  font-size: 60px;
}
input [type='email'],
input [type='text'],
textarea {
  margin-bottom: 20px;
  font-size: 15px;
  height: 65px;
  background-color: white;
  border-radius: 5px;
  display: block;
  width: 60%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}
